.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(35, 35, 49);
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.item-container {
  background-color: rgb(244, 244, 255);
  padding: 2% 0;
}

.item-container img {
  max-width: 700px;
}

.item-container p {
  text-decoration: underline;
}

